# Reading and Writing a text file

## CSV Files

In [31]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [32]:
# Can open csv files as a dataframe
dframe = pd.read_csv('lec25.csv')

#Show
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog
0  0  0  0  0     try

In [5]:
# Can also use read_table with ',' as a delimiter
dframe = pd.read_table('lec25.csv',sep=',')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog
0  0  0  0  0     try

In [22]:
# If we dont want the header to be the first row  
dframe = pd.read_csv('lec25.csv',sep=',',header = False) #header = none!!
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog
0  0  0  0  0     try

In [25]:
# We can also indicate a particular number of rows to be read
pd.read_csv('lec25.csv',header=True,nrows=2)

   0  2  3  4  5    pear
0  1  a  s  d  f  rabbit
1  2  5  2  5  7     dog

In [26]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog
0  0  0  0  0     try

In [27]:
# Now let's see how we can write DataFrames out to text files
dframe.to_csv('mytextdata_out.csv')

#You'll see this file where you're ipython Notebooks are saved (Usually under my documents)

In [28]:
#  We can also use other delimiters
#we'll import sys to see the output
import sys 

#Use sys.stdout to see the output directly and not save it
dframe.to_csv(sys.stdout,sep='_')

_q_r_s_t_apple
0_2_3_4_5_pear
1_a_s_d_f_rabbit
2_5_2_5_7_dog
0_0_0_0_0_try

In [30]:
#We can also choose to write only a specific subset of columns
dframe.to_csv(sys.stdout,columns=[0,1,2])

KeyError: 'None of [[0 1 2]] are in the [columns]'

## JSON Files

In [33]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [34]:
# Heres an example of what a JSON (JavaScript Object Notation) looks like:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [36]:
#Let import json module
import json

#Lets load json data
data = json.loads(json_obj)
data

{u'clothes': None,
 u'diet': [{u'food': u'grass', u'fur': u'Brown', u'zoo_animal': u'Gazelle'}],
 u'food': [u'Meat', u'Veggies', u'Honey'],
 u'fur': u'Golden',
 u'zoo_animal': u'Lion'}

In [37]:
#WE can also convert back to JSON
json.dumps(data)

'{"food": ["Meat", "Veggies", "Honey"], "zoo_animal": "Lion", "fur": "Golden", "diet": [{"food": "grass", "zoo_animal": "Gazelle", "fur": "Brown"}], "clothes": null}'

In [38]:
#We can simply open JSON data after loading with a DataFrame
dframe = DataFrame(data['diet'])
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle

## HTML with python

In [39]:
# We can import data using lxml

from pandas import read_html
import pandas as pd
from pandas import Series, DataFrame

In [42]:
#Lets grab a url for list of failed banks
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

"""
IMPORTANT NOTE: NEED TO HAVE beautiful-soup INSTALLED as well as html5lib !!!!
"""

'\nIMPORTANT NOTE: NEED TO HAVE beautiful-soup INSTALLED as well as html5lib !!!!\n\n'

In [48]:
# Grab data from html and put it intop a list of DataFrame objects!
dframe_list = pd.io.html.read_html(url)

ImportError: html5lib not found, please install it

In [50]:
#Grab the first list item from the data base and set as a DataFrame
dframe = dframe_list[0]
dframe

NameError: name 'dframe_list' is not defined

In [51]:
dframe.columns.values

array([u'food', u'fur', u'zoo_animal'], dtype=object)

## Excel with Python

In [52]:
"""
IMPORTANT NOTE: NEED TO HAVE xlrd AND openpyxl INSTALLED!!!
"""

'\nIMPORTANT NOTE: NEED TO HAVE xlrd AND openpyxl INSTALLED!!!\n'

In [54]:
import pandas as pd

In [56]:
# Open the excel file as an object
xlsfile = pd.ExcelFile('Analisi2.xlsx')

In [59]:
# Parse the first sheet of the excel file and set as DataFrame
dframe = xlsfile.parse('LISTA FINALE')

In [60]:
dframe

,Marca,Modello,Tipologia,Prezzo Indicativo,3372,Unnamed: 5
0,TP-LINK,TD-W8960N,N300,36,NaN,NaN
1,Netgear,D500,N150,36,NaN,NaN
2,Netgear,DGN1000,N150,48,NaN,NaN
3,Netgear,D6400,AC1600 DB VDSL,192,NaN,NaN
4,D-Link,DSL-2750B,N300,48,NaN,NaN
5,Netgear,D7000,AC1900 DB VDSL,300,NaN,Sostituisce il TP-Link TD-W8980 perché ha lo s...
6,Netgear,DGN2200,N300,72,NaN,NaN
7,Netgear,D1500,N300,72,NaN,NaN
8,TP-LINK,TD-W8961ND,N300,36,NaN,NaN
9,Netgear,TD-W9970,N300 VDSL,84,NaN,In sostituzione del Netgear D7000 per esaurire...
10,Netgear,D6300,AC1600 DB,216,NaN,NaN
11,Asus,DSL-N55U,N600 DB,168,NaN,NaN
12,TP-LINK,Archer D9,AC1900 DB,180,NaN,NaN
13,Sitecom,WLM-3600,N300,48,NaN,NaN
14,TP-LINK,TD-W8970,N300,72,NaN,NaN
15,TP-LINK,Archer D7,AC1750 DB,132,NaN,NaN
16,Netgear,D6000,AC750 DB,108,NaN,NaN
17,D-Link,DSL-2770L,N300,72,NaN,NaN
18,D-Link,GO-DSL-AC750,AC750 DB,84,NaN,NaN
19,Netgear,DGND3700,N600 DB,72,NaN,NaN
20,Sitecom,WLM-7600,AC1600 DB VDSL,192,NaN,NaN
21,Netgear,D6100,AC1200 DB,120,NaN,NaN
22,Sitecom,WLM-6600,N900DB,144,NaN,NaN
23,Asus,DSL-N12E,N300,48,NaN,NaN
24,TP-LINK,Archer D2,AC750 DB,84,NaN,NaN
25,Asus,DSL-AC68U,AC1900 DB VDSL,192,NaN,NaN
26,D-Link,DSL-3580L,AC1200 DB,108,NaN,NaN
27,Asus,DSLN14U,N300,60,NaN,NaN
28,AVM FRITZ!,Box 3490,AC1750 DB VDSL,180,NaN,NaN
29,Asus,DSL-N66U,N900 DB VDSL,168,NaN,Sostituisce il Netgear D6200 che ha lo stesso ...